<h1>Personagens</h1>
<br>
<%= link_to "Novo personagem", new_character_path %>
<br>
<h3>Lista de personagens: </h3>
<ul>
    <% @personagens.each do |char| %>
        <li>
            <%= link_to char.name, char %>
        </li>
    <% end %>
</ul>